<!DOCTYPE html>
<html>
<head>
<title>在线C语言代码复制/相似度检测平台</title>
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="在线C语言代码复制/相似度检测平台" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<style>
a{
    width:25%;
    background-color: #0259A0;
    border: none;
    padding: 11px 9px 11px 9px;
    border-radius: 3px;
    color: #FFF;
    font-family: calibri;
    font-size:18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
</style>

</head>
<body>

<h1>{{message}}</h1>
<div class="clear"> </div>
<br><br>

<div class="button">
<a href="/">重新上传</a>
</div>
</body>

</html>