<!DOCTYPE html>
<html>
<head>
<title>在线C语言代码复制/相似度检测平台</title>
<!-- Custom Theme files -->
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="在线C语言代码复制/相似度检测平台" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>

<h1>在线C语言代码复制/相似度检测平台</h1>

<div class="upload">

        <div class="login-form">

            <form id="upload" method="post" action="/upload_file" enctype="multipart/form-data">

                <div id="drop">
                    <a>上传文件</a>
                    <input type="file" name="upl" multiple />
                </div>

                <ul>
                <!-- The file uploads will be shown here -->
                </ul>

            </form>

        </div>
            
    <!-- JavaScript Includes -->
        <script src="{{ url_for('static', filename='js/jquery.knob.js') }}"></script>
    <!-- JavaScript Includes -->

    <!-- jQuery File Upload Dependencies -->
        <script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
    <!-- jQuery File Upload Dependencies -->
        
    <!-- Main JavaScript file -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Main JavaScript file -->

    <div class="button">

    <div class="cancel"><a href="/">取消</a></div>
    <div class="done"><a href="/run">检测</a></div>

    <div class="clear"> </div>

    </div>
    
</div>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257469294'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257469294%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>